/*

	StyleSheet for GreenGrass Template
	by David Herreman
	http://www.free-css-templates.com
	
*/


h4 {
	font-size: 12px;
	color: #50922C;
	text-align: left;
	background-color: #fff;
}

.date {
	text-align: right;
	color: #808080;
	font-size: 11px;
	background-color: #fff;
}

.date a {
	color: #245917;
	background-color: #fff;
}


#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 0px;
	color: #245917;
	background-color: #fff;
	line-height: 33px
}

#content h4 {
	margin: 0;
	padding-bottom: 0px;
	font-size: 12px;
	color: #50922C;
	background-color: #fff;
}

#content a {
color: #50922C;
text-decoration: none;
background-color: #fff;
}

#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	background-color: #fff;
}

#content .title
{
    margin: 0;
	padding: 0;
	padding-bottom: 0px;
	font-size: 100%; 
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: #245917;
	background-color: #fff;
}

#page-container {
	width: 760px;
	background: #fff;
	text-align: left;
	margin: auto;
	background: #fff url("bg2.gif") top center repeat-y;
	background-color: #fff;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	background: #ebebeb;
	text-align: center;
}

#menu {
    text-align: center;
	font-size: 100%; 
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

#menu a {
	width: 180px;
	color: #B60400;
	font-size: 9pt;
	font-weight: bold;
	padding: 0 0 0 10px;
	background-color: #fff;
}

#menu a:hover {
	color: #B60400;
	font-size: 9pt;
	font-weight: bold;
	padding: 0 0 0 0px;
}

ul#menu
{
	padding: 0px ;
	list-style-type: none ;
	text-align: left;
}

ul#menu li
{
	margin: 0px 0 0 0 ;
	padding: 0 ;
}

ul#menu li a
{
	display: block ; 
	width: 175px ;
	line-height: 29px ;
	color: #B60400;
	text-indent: +30px ; 
	text-decoration: none ;
	background: url(li.gif) no-repeat +10px +8px; 
}


ul#menu li a:hover
{
	background: #eaeaea;
	text-indent: +40px ;
	line-height: 29px ;    
	background: #ebebeb url(li.gif) no-repeat +10px +8px; 
}
		


#top {
	background: #fff url("header.gif") top center no-repeat;
	height: 65px;
	padding-top: 18px;
	padding-left: 28px;
	padding-right: 20px;
    text-align: right;
	color: #ccc;
	font-size: 10px;
	background-color: #fff;
}

#top .comment {
margin: 14px 0px 0px 0px;
color: #245917;
font-size: 11px;
}

#top input.search { 
	width: 292px; 
	border: 0;
	background: #FFF url(input.gif) no-repeat;
	padding: 4px; 
	color: #70b24C;
}


#top input.submit {
	border: 0px;
	background-color: #A3BB90;
	padding: 0px 0;
	width: 65px;
	margin: 0 15px 1px 0;
	color: #245917;
	font: bold 1em Arial, Sans-Serif;
}

#top a {
 color: #808080;
 background-color: #fff;
}

#header {
	background: #ccc url("bg2.gif") top center repeat-y;
	height: 120px;
	padding-left: 40px;
    background-color: #fff;
}

#prefooter {
	clear: both;
	background: #fff url("prefooter.gif") center no-repeat;
	height: 169px;
	padding: 0px 0px 0px 70px;
	background-color: #0f0;
}


#prefooter p {
    width: 350px;
    padding: 12px 0px 10px 0px;
    margin: 0px 0px 3px 0px;
    border-bottom: 1px solid #ada;
}

	
#prefooter a {
	color: #B60400;
	font-size: 9pt;
	font-weight: bold;
	padding: 0 0px 0px 0px;
}

#hrgreen {
 background: #fff url("hr.gif") no-repeat;
 margin: 13px;
 height: 1px;
 background-color: #fff;
}

* html #hrgreen {
 background: #fff url("hr.gif") no-repeat;
 margin-left: 60px;
 height: 1px;
 background-color: #fff;
}


#content {
	margin-right: 10px;
	line-height: 18px;
	padding-left: 20px;
}

#content .padding {
	padding: 25px;
	background-color: #fff;
}

#sidebar-a {
	float: right;
	width: 228px;
	line-height: 18px;
	margin-right: 10px;
	background: #fff url("bg_nav.gif") right top no-repeat;
	background-color: #fff;
}


#sidebar-a p {
    width: 173px ;
    margin-left: 30px;
	text-decoration: none ;
	text-align: left;
	background-color: #fff;
}


* html #sidebar-a p {
  width: 173px;
  margin-left: 75px;
  margin-top: -15px;
  text-decoration: none ;
  text-align: left;
  background-color: #fff;
  }


#sidebar-a .padding {
	margin: 10px 0px 10px 0px;
	padding: 35px 20px 0px 30px;
}


#footer {
	background: #ebebeb url("footer2.gif") top no-repeat;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #505050;
	padding: 8px 0px;
	text-align: center;
	background-color: #0f0;
}

#footer a {
	color: #245917;
	text-decoration: none;
}

#footer a:hover {
	color: #db6d16;
}

#footer #copyright {
	padding-top: 1px;
}

.hidden {
	display: none;
}
